.af-table .{alopex_ui_theme} td:nth-child(2n+1) {
	background-color: #F4F4F1;
}
#result_area input {
	width: 50%;
	padding: 0px 8px;
	margin: 0 10px;
}
.floatL {
	float : left;
}
.floatR {
	float : right;
}
.textAR {
	text-align: right;
}
.overHd{
	overflow:hidden;
}
.w25 {
	width: 25%;
}

.w50 {
	width: 50%;
}

.w70 {
	width: 70%;
}

.marginR10{
	margin-right: 10px;
}

.padding10 {
	padding: 10px;
}

.border1 {
	border: 1px solid gray;
}
.border0{border:none!important}
.bordert1{border-top:1px solid #dce3ec}
.borderb1{border-bottom:1px solid #dce3ec}
.bordertn{border-top:none!important}
.borderbn{border-bottom:none!important}
.form_example div{
	margin-bottom: 20px;
}

form>table {
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
form>table tr{height:40px;}
form>table td{
	
	padding: 0px 10px;
	vertical-align: middle;
	height:28px;
	line-height:28px;
	*height:17px;
	overflow:hidden;
	position:relative;
}

body {max-width: 900px;margin: 0 auto;}
a{ text-decoration:none;color: #3c3c3c;}

/* clear float */
.clear{clear: both;}
.clearfix{clear: both;}
.clearfix{ display:inline-block}
.clearfix{ display:block}
.clearfix:before,
.clearfix:after {
	content:"."; display:block; height:0; clear:both; visibility:hidden
	}

.tac{ text-align:center!important}
.tal{ text-align:left!important}
.tar{ text-align:right!important}

.bold{font-weight:bold}
/* hidden */
.hidden{visibility:hidden; position:absolute; font-size:0; width:0; height:0; line-height:0; margin:0; padding:0; background:none;line-height: 0;border:none;}
.hidden *{border:none !important;}

/* color */
.col_red{color:#e51937!important}
.col_blue{color:#214085!important}
.col_gray{color:#848484!important}
.col_yellow{color:#fdff4d!important}
.col_blk{color:#000!important}

/* padding */
.pt0 {padding-top:0  !important}
.pt5 {padding-top:	5px  !important}
.pt10{padding-top: 10px  !important}
.pt15{padding-top: 15px  !important}
.pt20{padding-top: 20px  !important}
.pt25{padding-top: 25px  !important}
.pt30{padding-top: 30px  !important}
.pt35{padding-top: 35px  !important}
.pt40{padding-top: 40px  !important}
.pt45{padding-top: 45px  !important}
.pt50{padding-top: 50px  !important}

.pr0 {padding-right:0  !important}
.pr5 {padding-right:5px  !important}
.pr10{padding-right:10px  !important}
.pr15{padding-right:15px  !important}
.pr20{padding-right:20px  !important}
.pr25{padding-right:25px  !important}
.pr30{padding-right:30px  !important}
.pr35{padding-right:35px  !important}
.pr40{padding-right:40px  !important}
.pr45{padding-right:45px  !important}
.pr50{padding-right:50px  !important}

.pl5{padding-left:	 5px  !important}
.pl10{padding-left:10px  !important}
.pl15{padding-left:15px  !important}
.pl20{padding-left:20px  !important}
.pl25{padding-left:25px  !important}
.pl30{padding-left:30px  !important}
.pl35{padding-left:35px  !important}
.pl40{padding-left:40px  !important}
.pl45{padding-left:45px  !important}
.pl50{padding-left:50px  !important}

.pb5{padding-bottom:	5px  !important}
.pb10{padding-bottom:10px  !important}
.pb15{padding-bottom:15px  !important}
.pb20{padding-bottom:20px  !important}
.pb25{padding-bottom:25px  !important}
.pb30{padding-bottom:30px  !important}
.pb35{padding-bottom:35px  !important}
.pb40{padding-bottom:40px  !important}
.pb45{padding-bottom:45px  !important}
.pb50{padding-bottom:50px  !important}

/* pop */
#popup{ border-radius:5px;background:#fff;width:90%;min-width:280px;position: relative;display: none;}
#popup h4{background-color:#656ee5;border-top-left-radius:5px;border-top-right-radius:5px;padding:10px 20px;color:#fff;font-size:1.4em;font-weight:bold;letter-spacing:-1px}
#popup .blue h4{background-color:#2b8bbb;border-top-left-radius:5px;border-top-right-radius:5px;padding:10px 20px;color:#fff;font-size:1.3em;font-weight:bold;letter-spacing:-1px;text-align: center;}
#popup h4 .warning{background: url(../../images/ico_warning.png) no-repeat 0 50%; background-size:35px 35px;display: inline-block; padding: 0 0 0 40px;line-height:35px}
#popup .btClose{position: absolute; top:10px;right:10px;}
#popup .btClose .b-close{background: url(../../images/btn_close.png) 50% 50% no-repeat; background-size: 18px 18px; width: 18px; height: 18px; display: block;text-indent: -9999px;border: none;}
#popup .btClose .b-ok{border:1px solid #fff;border-radius:30px;background-color:#656ee5;color:#fff;padding:3px 10px}
#popup .inner{border-radius:5px;padding:20px;line-height:20px}
#popup .inner .list_num li{background: url(../../images/ico_num.png) no-repeat 0 50%; background-size:14px 14px;border-bottom:1px solid #efefef;overflow: hidden;padding:6px 0 6px 18px;font-weight:bold;font-size:1.2em}
#popup .inner .list_num li a{text-decoration:none;}
#popup .inner .list_num .input{width: 44px;text-align: center;}
#popup .inner .list_num .input.long{width: 60px;text-align: center;margin-right:6px}
#popup .inner .list_num .input.long2{width: 72px;text-align: center;}
#popup .inner .list_num .key_num a{color:#e51937}
#popup .inner .list_num .num a{color:#333}
#popup .inner .list_num .closed_num,
#popup .inner .list_num .closed_num a{color:#7d7d7d}
#popup .btSet{text-align: center;}
#popup .info{background:#eaf2fa url(../../images/bu_info.png) no-repeat 8px 13px;background-size:16px 16px;padding:10px 10px 10px 30px;font-size:1.2em;color:#333;font-weight:bold;border:1px solid #9fb3ca;clear: both;margin-top:10px}
#popup .inner .txt{text-align: center;font-weight:bold;padding-bottom:10px}

#popup .recommend {overflow: hidden;}
#popup .recommend li{float:left;padding:10px 14px}

#popup.pop_bank li {line-height:20px;padding:4px 0}
#popup.pop_bank li img{width:24px;vertical-align:top}
#popup.pop_bank .box_blue {border:1px solid #a5b7cd;border-radius:5px;font-size:16px;font-weight:bold;background-color:#d9e1e9;padding:10px 15px;margin-top:10px;}
#popup.pop_bank .box_blue .floatR{color:#0f0f10!important}
#popup.pop_bank .box_blue strong{color:#0f2860!important}

#popup2{ border-radius:5px;background:#fff;width:90%;min-width:280px;position: relative;display: none;}
#popup2 h4{background-color:#2b8bbb;border-top-left-radius:5px;border-top-right-radius:5px;padding:10px 20px 10px 10px;color:#fff;font-size:1.4em;font-weight:bold;letter-spacing:-1px;text-align: center;}
#popup2 h4 .warning{background: url(../../images/ico_warning.png) no-repeat 0 50%; background-size:35px 35px;display: inline-block; padding: 0 0 0 40px;line-height:35px}
#popup2 h4 .call{background: url(../../images/ico_call.png) no-repeat 0 50%; background-size:35px 35px;display: inline-block; padding: 0 0 0 40px;line-height:35px}
#popup2 .btClose{position: absolute; top:10px;right:10px;}
#popup2 .btClose .b-close{background: url(../../images/btn_close.png) 50% 50% no-repeat; background-size: 18px 18px; width: 18px; height: 18px; display: block;text-indent: -9999px;border: none;}
#popup2 .inner{border-radius:5px;padding:20px;line-height:20px}
#popup2 .inner .txt{text-align: center;font-weight:bold;padding-bottom:20px}
#popup2 .inner .img{border:1px solid #cfd1e2;background-color:#f1f4f7;padding:5px;border-radius:4px;text-align: center;margin-bottom:10px}
#popup2 .inner .img img{width: 70%;max-width:300px;outline: solid 1px #ddd;}

#popup2.pop_prepare{background:#2b8bbb;text-align: center;font-size:1.4em;font-weight:bold;letter-spacing:-1px;text-align: center;color:#fff}
#popup2.pop_prepare .inner{border-radius:5px;padding:30px;line-height:20px}
#popup2.pop_prepare .prepare{ background:url(../../images/ico_warning.png) no-repeat 50% 0;background-size:35px 35px;padding-top:40px}

#popup.pop_load{padding:0;text-align: center;background:none}
#popup.pop_load .inner{padding:0;position: relative;}
#popup.pop_load img{width: 100%}

.dispNone {display:none;}

.info_back{width:300px;display:none}
.info_back p{text-align:center;background-color:rgba(0, 0, 0, 0.8);padding:10px;border-radius:5px;line-height:20px;height:20px}
.info_back p span{background:url(../../images/ico_info_back.png) no-repeat 0 50%;background-size:15px 15px;padding-left:20px;color:#fff}


.loading{display:block;width:100%;height:100%;text-align:center;z-index:999;top:0}
.loading_index{dz-index:999;position:absolute;top:90%;left:48%}

